.menu-options-container {
  width: 100%;
}

.current-plan {
 height: 100%;
}

.mileage {
  width: 100%;
  margin: 0 auto;
}

.charging-hours {
  height: 100%;
}

.user-prompt {
  font-size: 1.3rem;
  text-align: center;
  margin: 0 1rem;
}

.input-display-mileage {
  margin: 0 auto;
  width: 60%;
  padding: 1rem;
}

.input-display-buttons {
  height: 90%;
  height: 75%;
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.input-display-buttons button {
  outline: none;
  position: relative;
  top: 0;
  background-color: white;
  height: 100%;
  width: 40%;
  color: rgb(170, 170, 170);
  border-radius: 0.25rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: background-color 0.75s ease-in, top 0.05s ease-in, color 0.75s ease-in;
}

.input-display-buttons button:focus, .input-display-buttons button:hover {
  top: -0.01rem;
  background-color: #f98925 ;
  color: black;
}

.rate-name {
  color: black;
  font-size: 1rem;
  padding-bottom: .5rem;
}

.subscript {
  color: rgb(170, 170, 170);
  width: fit-content;
  margin: 0 auto;
}

.mileage input {
  width: 100%;
}

.mileage-slider-value {
  font-size: 2rem;
  width: fit-content;
  margin: 3rem auto;
}

