.bill-impact-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.border {
  height: 7px;
  width: 70px;
  background-color: #f98925;;
  margin: 0 auto;
}

.content-container {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: space-evenly;
}

.subscript {
  color: rgb(170, 170, 170);;
}

.change-input {
  outline: none;
  position: relative;
  top: 0;
  height: 2.5rem;
  width: 7rem;
  padding: 0.5rem;
  margin-top: 3rem;
  color: white;
  border: none;
  background-color: #f98925;
  transition: background-color 0.75s ease-in,
              top 0.05s ease-in,
              color 0.75s ease-in,
              border 0.75s ease-in;
}

.change-input:hover, .change-input:focus {
  top: -0.01rem;
  background-color: white ;
  border: solid 0.05rem black;
  color: black;
}

p {
  font-size: 1.1rem;
}

.change-rate-message {
  font-size: .9rem;
  text-align: center;
}

.change-rate-message h3 span {
  color: green;
}

.rate-container p span {
  width: 10%;
}

