.bill-impact-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.border {
  height: 7px;
  width: 70px;
  background-color: orange;
  margin: 0 auto;
}

.content-container {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: space-around;
}

.rate-container {
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-seri;
  background-color: whitesmoke;
  border: 1px solid black;
  box-shadow: lightgrey 0.15em 0.15em;
  text-align: center;
  border-radius: .3rem;
  height: 100%;
  width: 35%;
}

.button {
  margin-top: 1.1rem;
}

p {
  font-size: 1.1rem;
}

.change-rate-message h3 span {
  color: green;
}

.rate-container p span {
  width: 10%;
}

