.popup-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: .3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 60%;
  height: 60%;
  margin: auto;
  box-shadow: lightgrey 0.15em 0.15em;
}

.popup-shadow {
  display: flex;
  height:100%;
  width: 100%;
  background-color: rgba(131, 130, 130, 0.822)
}

.title {
  padding: 1rem;
}

.title h4 {
  margin-top: 0;
  text-decoration: underline;
}

.menu-options {
  display: flex;
  justify-content: center;
  height: 65%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.back-button {
  outline: none;
  position: relative;
  top: 0;
  height: 2.5rem;
  width: 6rem;
  padding: 0.5rem;
  margin: 1rem;
  background-color: white;
  border: solid 0.05rem black;
  transition: background-color 0.75s ease-in, top 0.05s ease-in, color 0.75s ease-in;
}

.forward-button {
  outline: none;
  position: relative;
  top: 0;
  height: 2.5rem;
  width: 6rem;
  padding: 0.5rem;
  margin: 1rem;
  color: white;
  border: none;
  background-color: #f98925;
  transition: background-color 0.75s ease-in,
              top 0.05s ease-in,
              color 0.75s ease-in,
              border 0.75s ease-in;

}


.forward-button:hover, .forward-button:focus {
  top: -0.01rem;
  background-color: white ;
  border: solid 0.05rem black;
  color: black;
}