.popup-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: .3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 50%;
  height: 50%;
  margin: auto;

}

.popup-shadow {
  display: flex;
  height:100%;
  width: 100%;
  background-color: rgba(211, 211, 211, 0.822)
}

.title {
  padding: 1rem;
}

.menu-options {
  display: flex;
  justify-content: center;
  height: 65%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  padding: 1rem
}


