.rate-container {
  display: flex;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-seri;
  background-color: whitesmoke;
  border: 1px solid black;
  box-shadow: lightgrey 0.15em 0.15em;
  text-align: center;
  border-radius: .3rem;
  height: 100%;
  width: 20rem;
}